body{
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
}
nav{
    text-align: right;
}
h1, h2, p{
    text-align: center;
}
p{
    margin:0 auto;
    width: 60%;
    font-size: 20px;
    text-align: justify;
}
ul{
    margin:0 auto;
    font-size: 20px;
    width: 20%;

}
table{
    margin:0 auto;
    width: 200px;
}
img{
    margin:0 auto;
    max-width: 80%;
    max-height: 25%;
}


